.hero {
  height: 780px;

  padding-top: 94px;
  margin-bottom: 50px;

  text-align: center;

  background-color: $hero-bg-color;

  @media screen and (min-width: 1175px) {
    background-size: 544px 557px;

    background-position: right 160px bottom 56px;

    text-align: initial;
  }

  &__bg-img {
    width: 100%;
    height: 100%;
    background: no-repeat url(../../img/hero-image.png);

    background-size: 252px 258px;
    background-position: bottom 36px center;

    @media screen and (min-width: 1175px) {
      background-size: 544px 557px;

      background-position: right bottom 56px;
    }
  }

  &__title {
    width: 235px;
    margin: 0 auto 21px;

    font-weight: 900;
    font-size: 24px;
    line-height: calc(29 / 24);

    @media screen and (min-width: 1175px) {
      display: inline-block;
      width: 460px;
      margin: 140px 0 0;

      font-size: 44px;
      line-height: calc(53 / 44);

      margin-bottom: 15px;
    }
  }

  &__subtitle {
    width: 220px;
    margin: 0 auto 29px;

    @media screen and (min-width: 1175px) {
      width: 460px;
      margin: 0 0 29px;

      font-size: 18px;
    }
  }
}

.hero__form {
  width: 290px;

  margin: 0 auto 20px;

  @media screen and (min-width: 1175px) {
    margin: 0 0 25px;

    width: 447px;
  }

  &--wrapp {
    position: relative;
  }

  &-input {
    width: 100%;
    height: 70px;

    padding: 25px 95px 25px 25px;

    border: 1px solid rgba(209, 209, 209, 0.1);
    border-radius: 5px;
    box-shadow: 0px 4px 25px 0px rgba(15, 17, 56, 0.1);
    outline: none;
  }

  &-label {
    position: absolute;
    left: 25px;
    top: 26px;

    color: $grey-color;

    font-size: 16px;
    line-height: calc(19 / 16);

    transition: transform 250ms ease-in-out;

    .hero__form-input:not(:placeholder-shown) + &,
    .hero__form-input:focus + & {
      transform: translateY(-120%);
      color: $blue-color;
    }
  }

  &-btn {
    position: absolute;

    display: flex;
    align-items: center;

    right: 10px;
    top: 12px;

    padding: 15px 30px;

    background-color: $blue-color;
    border-radius: 5px;

    &-icon {
      fill: #ffffff;

      @media screen and (min-width: 1175px) {
        margin-right: 10px;
      }
    }
  }

  &-btn-text {
    display: none;

    font-size: 16px;

    line-height: calc(19 / 16);

    @media screen and (min-width: 1175px) {
      display: inline-block;
      color: #ffffff;
    }
  }
}

.hero__examples {
  @media screen and (min-width: 1175px) {
    display: flex;
    align-items: center;

    gap: 15px;
  }

  &-text {
    margin-bottom: 15px;

    color: $grey-color;

    @media screen and (min-width: 1175px) {
      margin-bottom: 0;
    }
  }

  &-item-text {
    color: $grey-color;

    @media screen and (min-width: 1175px) {
      text-align: left;
    }
  }

  &-list {
    display: flex;
    justify-content: center;

    gap: 10px;

    @media screen and (min-width: 1175px) {
      justify-content: flex-start;
    }
  }

  &-item {
    padding: 5px 10px;

    border: 1px solid rgb(178, 178, 178);
    border-radius: 5px;
  }
}
